*.bin
*.log
*.lem
*.table
*.automat
*.grammar_precompiled
*.morph
/external
.vs
/out
Source/synan/SimpleGrammarLib/chunker_yacc.hpp
Source/synan/SimpleGrammarLib/chunker_yacc.cpp
Source/synan/SimpleGrammarLib/chunker_lex.cpp
